[Unit]
Description=procprotect module
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/sbin/modprobe procprotect
ControlGroup=cpu:/

[Install]
WantedBy=multi-user.target
